
.grid {
  margin-top: 1rem;
}

.grid h2 {
  margin: 0.5rem;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  justify-items: center;
}

.grid__loading {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10rem;
}
